<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>znex.gbeerf.zrgf@tznvy.pbz</string>
	<key>contactName</key>
	<string>Mark Torres</string>
	<key>description</key>
	<string>Some snippets I like for TextMate.</string>
	<key>name</key>
	<string>Mark’s Bundle</string>
	<key>uuid</key>
	<string>9A69F8A7-7AB7-4905-8747-620ACA0679C8</string>
</dict>
</plist>
